/* pour plaquer le footer en bas de la page */
/* Source : https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* utilisation de la flexbox */
main {
    flex: 1;
}

/* marge de 2x la hauteur du texte en dessous de la navbar */
nav {
   margin-bottom: 2em; 
}
/* marge de 1x la hauteur du texte au dessus du footer */
footer {
    margin-top: 1em;
}

/* définition d'une classe pour cacher facilement un élément */
.hidden {
    display: none;
}



