<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Parcs Rennes</title>
	<meta name="author" content="Guillaume COLLARD, Valentin CHARIER">
	<meta name="description" content="Page web pour les parcs de Rennes">
	<meta name="viewport" content="width=device-width, intial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
	</script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
	</script>
	<!-- PopperJS (pour les "popups" Bootstrap) -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<!-- VueJS -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Axios -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
	<!-- Leaflet "fullscreen" plugin -->
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
		rel='stylesheet' />
	<!-- Favicon -->
	<link rel="icon" href="images/favicon.ico">
</head>


<body>
	<!-- Barre de menu -->
	<nav class="navbar navbar-dark bg-dark navbar-expand-sm ">
		<a class="navbar-brand" href="index.html">jeux-rennes.bzh</a>
		<div class="" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="index.html">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="Contact.html">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="Aide.html">Aide</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Composante principale de la page -->
	<main role="main">
		<div id="app">
			<!-- Containeur pour les menus de filtrage -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h4>Filtrage</h4>
					</div>
				</div>
				<form action="#">
					<div class="row">
						<div class="col-md-3">
							<!-- Liste Bootstrap, pour la représentation visuelle -->
							<div class="list-group">
								<span class="list-group-item list-group-item-action active">Points d'eau
									<small>({{compteur_inconnu_eau}} inconnu)</small></span>
								<label for="eau-oui" class="list-group-item list-group-item-action">
									<input type="checkbox" value="eau-oui" id="eau-oui" name="eau-oui"
										v-model="filtresChecked">
									avec <small>({{compteur_avec_eau}})</small>
								</label>
								<label for="eau-non" class="list-group-item list-group-item-action">
									<input type="checkbox" value="eau-non" id="eau-non" name="eau-non"
										v-model="filtresChecked">
									sans <small>({{compteur_sans_eau}})</small>
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="list-group">
								<span class="list-group-item list-group-item-action active">Eclairage
									<small>({{compteur_inconnu_ecl}} inconnu)</small></span>
								<label for="ecl-oui" class="list-group-item list-group-item-action">
									<input type="checkbox" value="ecl-oui" id="ecl-oui" name="ecl-oui"
										v-model="filtresChecked">
									avec <small>({{compteur_avec_ecl}})</small>
								</label>
								<label class="list-group-item list-group-item-action" for="ecl-non">
									<input type="checkbox" value="ecl-non" id="ecl-non" name="ecl-non"
										v-model="filtresChecked">
									sans <small>({{compteur_sans_ecl}})</small>
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="list-group">
								<span class="list-group-item list-group-item-action active">Propriété
									<small>({{compteur_inconnu_pub}} inconnu)</small></span>
								<label for="pub-oui" class="list-group-item list-group-item-action">
									<input type="checkbox" value="pub-oui" id="pub-oui" name="pub-oui"
										v-model="filtresChecked">
									publique <small>({{compteur_oui_pub}})</small>
								</label>
								<label class="list-group-item list-group-item-action" for="pub-non">
									<input type="checkbox" value="pub-non" id="pub-non" name="pub-non"
										v-model="filtresChecked">
									privée <small>({{compteur_non_pub}})</small>
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="list-group">
								<!-- Bouton de géolocalisation -->
								<button class="list-group-item list-group-item-action list-group-item-primary"
									type="button" id="geolocalisation">
									<!-- avec spinner pendant le chargement -->
									<span id="geo_spinner" class="spinner-border spinner-border-sm hidden"
										role="status"></span>
									<!-- logo de géolocalisation -->
									<svg id="geo_icon" class="bi bi-geo-alt" width="1em" height="1em"
										viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z"
											clip-rule="evenodd" /></svg>
									<span> Me géolocaliser</span>
								</button>
								<!-- Bouton d'envoi -->
								<button class="list-group-item list-group-item-action active" type="button"
									id="appliquer-filtres">
									<!-- avec spinner pendant le chargement -->
									<span id="appliquer_spinner" class="spinner-border spinner-border-sm hidden"
										role="status"></span>
									<!-- avec logo en mode normal -->
									<svg class="bi bi-check-circle-fill" id="appliquer_logo" width="1em" height="1em"
										viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
									</svg>
									<span> Appliquer</span>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
		<div class="container" id="div_meteo_jour">
			<div class="row">
				<div class="col-md-12">
					<div id="map">
						<!-- Ici s'affiche la carte -->
					</div>

				</div>
			</div>
		</div>
		</div>
		</div>
	</main>

	<!-- Footer avec les liens de ressources utilisées -->
	<footer id="monFooter" class="footer py-2 bg-dark text-white-50">
		<div class="container text-center">by Valentin CHARIER, Guillaume COLLARD
			<small>avec <a target="_blank" href="https://jquery.com/">jQuery</a>, <a target="_blank"
					href="https://getbootstrap.com/">Bootstrap</a>, <a target="_blank"
					href="https://wiki.openstreetmap.org/wiki/FR:Nominatim">Nominatim</a>, <a target="_blank"
					href="https://vuejs.org/">VueJS</a>, <a target="_blank"
					href="https://leafletjs.com/">Leaflet</a></small>
		</div>
	</footer>


	<!-- Instanciation de VueJS pour le projet-->
	<script>
		var app = new Vue({
			el: "#app",
			// Données de l'instance Vue
			data: {
				utilisateur: "Michel",
				retour_api: "",
				json_lower: "",
				compteur_avec_eau: 0,
				compteur_sans_eau: 0,
				compteur_inconnu_eau: 0,
				compteur_avec_ecl: 0,
				compteur_sans_ecl: 0,
				compteur_inconnu_ecl: 0,
				compteur_oui_pub: 0,
				compteur_non_pub: 0,
				compteur_inconnu_pub: 0,
				filtresChecked: ["eau-oui", "eau-non", "pub-oui", "pub-non", "ecl-oui", "ecl-non"],
			},
			methods: {
				request_api: function () {
					req_axios = axios.get(
							'https://data.rennesmetropole.fr/api/records/1.0/search//?dataset=aires-de-jeux-des-espaces-verts-rennes&rows=10000'
						)
						.then(response => {
							this.retour_api = response;
							this.traitement_donnees();
						}, (error) => {
							console.log(error);
							alert(error);
						})
				},
				traitement_donnees: function () {
					// normaliser toutes les valeurs en minuscule
					this.lower();
					// reset les compteurs affichés
					this.reset_compteurs_filtres();
					// compter en définissant les compteurs
					this.compter_pour_filtres();
					// ajouter les aires de jeux sur la carte
					ajouterTousLesParcs(this.retour_api.data.records);
				},
				reset_compteurs_filtres: function () {
					this.compteur_avec_eau = 0
					this.compteur_sans_eau = 0
					this.compteur_inconnu_eau = 0
					this.compteur_avec_ecl = 0
					this.compteur_sans_ecl = 0
					this.compteur_inconnu_ecl = 0
					this.compteur_oui_pub = 0
					this.compteur_non_pub = 0
					this.compteur_inconnu_pub = 0
				},
				compter_pour_filtres: function () {
					var i;
					for (i in this.retour_api.data.records) {
						parc = this.retour_api.data.records[i]

						//test si champ borne_eau n'existe pas
						if (typeof parc.fields.borne_eau === 'undefined' || parc.fields.borne_eau === null) {
							this.compteur_inconnu_eau++
						}
						//test si champ borne_eau est à 'oui'
						if (parc.fields.borne_eau == 'oui') {
							this.compteur_avec_eau++
						}
						//test si champ borne_eau est à 'non'
						if (parc.fields.borne_eau == 'non') {
							this.compteur_sans_eau++
						}


						//test si champ eclairage n'existe pas
						if (typeof parc.fields.eclairage === 'undefined' || parc.fields.eclairage === null) {
							this.compteur_inconnu_ecl++
						}
						//test si champ eclairage est à 'oui'
						if (parc.fields.eclairage == 'oui') {
							this.compteur_avec_ecl++
						}
						//test si champ eclairage est à 'non'
						if (parc.fields.eclairage == 'non') {
							this.compteur_sans_ecl++
						}


						//test si champ espace_publique n'existe pas
						if (typeof parc.fields.espace_publique === 'undefined' || parc.fields.espace_publique ===
							null) {
							this.compteur_inconnu_pub++
						}
						//test si champ espace_publique est à 'oui'
						if (parc.fields.espace_publique == 'oui') {
							this.compteur_oui_pub++
						}
						//test si champ espace_publique est à 'non'
						if (parc.fields.espace_publique == 'non') {
							this.compteur_non_pub++
						}

					}
				},
				lower: function () {
					var i;
					for (i in this.retour_api.data.records) {
						//passage en minuscule des informations sur le champs espace publique
						if (typeof this.retour_api.data.records[i].fields.espace_publique == 'string') {
							this.retour_api.data.records[i].fields.espace_publique = this.retour_api.data.records[i].fields.espace_publique.toLowerCase();
						}
						//passage en minuscule des informations sur le champs borne d'eau
						if (typeof this.retour_api.data.records[i].fields.borne_eau == 'string') {
							this.retour_api.data.records[i].fields.borne_eau = this.retour_api.data.records[i].fields.borne_eau.toLowerCase();
						}
						//passage en minuscule des informations sur le champs éclairage
						if (typeof this.retour_api.data.records[i].fields.eclairage == 'string') {
							this.retour_api.data.records[i].fields.eclairage = this.retour_api.data.records[i].fields.eclairage.toLowerCase();
						}
					}
				}
			},
		})

		// Quand le DOM est chargé
		window.onload = function () {
			// Fonction d'initialisation de la carte
			initialiser_map()
			// execution de la requête Axios vers l'API
			app.request_api()
		};
	</script>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="js/map.js"></script>
	<script src="js/search.js"></script>
	<script src="js/localiser.js"></script>

</body>

</html>
